.rodape {
    color: #fff;
    background-color: #6278f7;
    background-image: url('/public/imagens/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.rodape ul li{
    display: inline-block;
    margin-right: 32px;
}

.rodape ul li:last-child {
    margin-right: 0;
}